

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HYPERION ASSESSMENT</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/js/site.js"></script>
    <style>
    #s1{

        font-family:helvetica;
        font-size:40px;
        font-weight:bold;
            color: #00e6b8;
            font-style:italic;

    }

        #s2 {
            font-family: helvetica;
            font-size: 20px;
            color:white;
        }
    </style>
</head>
<body style="background-color: #006080;">
    <div>
        <p id="s1">
            </ Secure your future.<br>
            Learn to code />

        </p>
        <p id="s2">


            Our online coding bootcamps are set apart by integrating human-led code review.<br> Our deep experience will support your ability to code and help you achieve career-focused skills
        </p>

    </div>

   


</body>
</html>